<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Domain of the Grubby Dog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/base-style.css">
    <link rel="stylesheet" href="/assets/css/base-structure.css">
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">

    <title>My Website</title>
  </head>
  <body>
    <header>
      <div class="top-box">
        <p><a href="#top">Skip to Nav</a> | <a href="#content">Skip to Content</a> | <a href="/sitemap">Site Map</a> <details class="top-menu">
          <summary>Menu</summary></p>
          <nav>
            <p>Site</p>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/toybox">Toybox</a></li>
              <li><a href="/shrines">Shrines</a></li>
          </ul>
          <p>For You</p>
          <ul>
            <li><a href="/quizzes">Quizzes</a></li>
            <li><a href="/linkhoard">Link Hoard</a></li>
            <li><a href="http://users3.smartgb.com/g/g.php?a=s&i=g36-34582-18">Guestbook ⭧</a></li>
        </ul>
          </nav>
          </details></p>
      </div>
      <img src="/assets/img/home-banner.png" class="responsive-small" alt="Test Image">
    </header>
    <main>
      <div class="container">
        <div class="sidebar">
          <div class="side-menu">
            <div class="box">
              <div class="center">
                <p id="top">
                  <strong>Site</strong>
                  <br><strong><a href="/" class="btn2">Home</a></strong>
                  <br><strong><a href="/about" class="btn2">About</a></strong>
                  <br><strong><a href="/blog" class="btn2">Blog</a></strong>
                  <br><strong><a href="/toybox" class="btn2">Toybox</a></strong>
                  <br><strong><a href="/shrines" class="btn2">Shrines</a></strong>
                </p>
                <p>
                  <strong>For You</strong>
                  <br><strong><a href="/quizzes" class="btn2">Personality Quizzes</a></strong>
                  <br><strong><a href="/linkhoard" class="btn2">Link Hoard</a></strong>
                  <br><strong><a href="http://users3.smartgb.com/g/g.php?a=s&i=g36-34582-18" class="btn2">Guestbook ⭧</a></strong>
                </p>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="center">
              <a href="https://www.mabsland.com/Adoption.html" target="_blank"><img src="/assets/img/Censor14.gif" alt="this is an age rating. it has white text on a red background that says web 14. on the left is a panda character with green hair."></a>
              <a href="https://cobaltblue.neocities.org/buttons/" target="_blank"><img src="/assets/img/dragonmade-skyblue.png" alt="black text on a blue background that says dragon made"></a>
              <a href="https://punkwasp.neocities.org/collections/freepalestine/" target="_blank"><img src="/assets/img/standwith.png" alt="the palestine flag. over the white stripe is black text that says stand with palestine."></a>
              <a href="https://web.archive.org/web/20230813102158/https://yesterweb.org/no-to-web3/" target="_blank"><img src="/assets/img/saynotoweb3.gif" alt="green text on a black background that flashes between the phrases 'keep the web free' and 'say no to web 3'"></a>
            </div>
          </div>
        </div>
        <div class="maincontent" id="content">
            {{ content }}
        </div>
      </div>
    </main>
    <footer>
      <p class="center">Made with love by Grub since 2023
        <br><a href="/credit">Credits</a> | <a href="#content">Top of Page</a>
      </p>
    </footer>
  </body>
</html>
