<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Personal site with a blog, art, link hoard, and more! :3" />
    <meta property="og:site_name" content="Your Local Grub Dog">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/assets/img/meta_tag_image.png" />

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
  </head>
  <body>
      <div class="top-box">
        <p><a href="#nav" id="hide">Skip to Nav</a> | <a href="#content">Skip to Content</a> | <a href="/sitemap">Site Map</a></p>
        <details class="top-menu">
          <summary class="big-txt">Menu</summary>
          <nav aria-labelledby="mobile-navigation">
            <p><strong>Site</strong></p>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About/Contact</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/toybox">Toybox</a></li>
                <li><a href="/shrines">Shrines</a></li>
            </ul>
            <p><strong>For You</strong></p>
            <ul>
              <li><a href="/quizzes">Quizzes</a></li>
              <li><a href="/linkhoard">Link Hoard</a></li>
              <li><a href="http://users3.smartgb.com/g/g.php?a=s&i=g36-34582-18">Guestbook</a></li>
            </ul>
          </nav>
        </details>
      </div>
      <div class="container">
        <div class="sidebar">
          <header class="Ttaped taped" id="top">
            <h1 class="center">Domain of the Grub Dog</h1>
            <img src="https://your-local-grubdog.neocities.org/assets/img/main_icon.png" class="head-img" alt="a four armed moth-dragon working at a laptop. In one of his hands is a cup of coffee, and another is being used to pet a black cat. His body is various shades of brown, with bright blue top surgery scars.">
            <p>Hi, I'm Grub (he/him), and welcome to my site! :D I hope you enjoy your stay here.</p><div id="statuscafe"><a href="https://status.cafe/users/yourlocalgrubdog" target="_blank">Latest Status:</a><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=yourlocalgrubdog" defer></script>
          </header>
          <aside>
            <p class="cornertapedL taped">
              <a href="https://cobaltblue.neocities.org/buttons/" target="_blank"><img src="/assets/img/dragonmade-skyblue.png" alt="black text on a blue background that says dragon made"></a>
              <a href="https://punkwasp.neocities.org/collections/freepalestine/" target="_blank"><img src="/assets/img/standwith.png" alt="the palestine flag. over the white stripe is black text that says stand with palestine."></a>
              <a href="https://web.archive.org/web/20230813102158/https://yesterweb.org/no-to-web3/" target="_blank"><img src="/assets/img/saynotoweb3.gif" alt="green text on a black background that flashes between the phrases 'keep the web free' and 'say no to web 3'"></a></p>
          </aside>
          <nav class="cornertapedR taped sticky" aria-labelledby="desktop-navigation" id="nav">
            <p class="big-txt"><strong>Site</strong></p>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About/Contact</a></li>
              <li><a href="/blog" class="btn2">Blog</a></li>
              <li><a href="/toybox" class="btn2">Toybox</a></li>
              <li><a href="/shrines" class="btn2">Shrines</a></li>
            </ul>
            <p class="big-txt"><strong>For You</strong></p>
            <ul>
              <li><a href="/linkhoard" class="btn2">Link Hoard</a></li>
              <li><a href="http://users3.smartgb.com/g/g.php?a=s&i=g36-34582-18" class="btn2">Guestbook</a></li>
            </ul>            
          </nav>
        </div>
        <div class="maincontent" id="content"><main>
            {{ content }}
        </div>
      </div>
    </main>
    <footer>
      <p class="center">Made with love by Grub since April 2023
        <br><a href="/credit">Credits</a> | <a href="#content">Top of Page</a>
      </p>
    </footer>
  </body>
</html>
