/*ROOT*/
/*color guide
  --dark brown: #655435;
  --light brown: #D4CFBA;
  --light blue: #73CDDF;
  --dark blue: #399BAE;
  
  --darker blue: #276d7a
  --lighter blue: #9BDCE8
  --lighter brown: #f5f0d8
  --white: #FFFFFF*/
  :root {
    /*colors*/
    --background: #a4cdd3;
    --box: #D4CFBA;
    --top-box: #9ad3dd;
    --txt: #1e0b00;
    --txt2: #021b1f;
    --link: #276d7a;
    --link2: #14383e;
    --scroll-box: #9ad3dd;
    --scroll-box-txt: #000000;
    --btn: #655435;
    --btn-txt: #f5f0d8;
    --btn-hover: #23606C;
    --btn-hover-txt: #ffffff;
    --shadow: rgba(35, 73, 79, 0.38);
    /*images*/
    --background-img: url(/assets/img/wild-flowers_light.png);/*light mode ver of this texture wanted to make it more obvious*/
    --box-texture: url(/assets/img/natural-paper_light.png);
}

/*Allows for dark mode*/
@media (prefers-color-scheme: dark) {
	:root {
	  /*colors*/
	  --background: #3d717a;
	  --box: #655435;
	  --top-box: #655435;
	  --txt: #fcf6f1;
      --txt2: #fcf6f1;
	  --link: #9BDCE8;
      --link2: #9BDCE8;
	  --scroll-box: #3d717a;
	  --scroll-box-txt: #FFFFFF;
	  --btn: #399BAE;
	  --btn-txt: #130700;
	  --btn-hover: #D4CFBA;
	  --btn-hover-txt: #453524;
      --shadow: rgba(6, 31, 36, 0.4);
	  /*images*/
      --background-img: url(/assets/img/wild-flowers_dark.png);
      --box-texture: url(/assets/img/natural-paper_dark.png); /*dark mode version of this texture wanted to make it less obvious*/
    }
}

/*UNIVERSAL, resets CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, 
*::after {
    box-sizing: border-box;
}

/*FONT IMPORTS*/
@font-face {
    font-family: Shantell-Sans;
    src: url('/assets/fonts/ShantellSans.woff2');
}

/*FLEX BOX*/
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
} 
    .maincontent {
        flex: 75%;
        padding: 2vh;
    }
    .sidebar {
        flex: 25%;
        padding: 2vh;
        
    }
    .sticky {
        position: sticky;
        top: 10px;
        align-self: flex-start;    
}

/*OTHER SEMANTICS (and classes inter-linked with semantics)*/
body {
    font-family: "Shantell-Sans", "Arial", sans-serif;
    color:var(--txt);
    background-color:var(--background);
    background-image: var(--background-img);
    font-size: 1.125rem;
    background-attachment: fixed;
}

header, .sidebar nav, aside, section  {
    background-color:var(--box);
    background-image: var(--box-texture);
    border: solid 4px #130700;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 2vh;
    margin: 20px 0px 30px;
    box-shadow: 5px 5px 5px var(--shadow);
}

    section h1{
        font-size:2em; /*Because it broke for some reason lmao*/
    section p {
        text-indent: 4rem;
    }
}

footer {
    background-color:var(--top-box);
    border-style: solid hidden hidden hidden;
    border-color: #130700;
    color:var(--txt);
    box-shadow: 0px -7px 5px -1px var(--shadow);
    position:absolute; 
    width: 100%;
}
    footer p {
        margin: 0.5rem;
        text-align: center;
        max-width: 100%;
    }
    footer a {
        color:var(--link2);
}

textarea {
    background-color: var(--scroll-box);
    color: var(--scroll-box-txt);
    margin-bottom: 5px;
    height: auto;
    border-color: #130700;
    border-style: solid;
    border-radius: 5px;
}

summary, details {
    margin-bottom: 5px;
}

blockquote {
    background-color: var(--background);
    font-style: italic;
    margin: 0px 100px 10px 100px;
    padding: 10px 15px 15px 15px;
    box-shadow: 5px 5px 5px var(--shadow);
    transform: rotate(-0.002turn);
}

/*GENERAL FORMATTING*/
p {
    max-width: 80ch;
    line-height: 1.6rem;
    margin-top: 1rem;
}

a {
    color:var(--link);
    }
    a:hover {
        font-weight: bold;
    }
    /*next two blocks were done by https://flamedfury.com/ with minor edits. They add a little arrow after links that take you off-site.*/
    a[href^='http']:not([href^="https://your-local-grubdog.neocities.org/"]):not(:has(img)) {
        padding-right: .8rem;
    }

    a[href^='http']:not([href^="https://your-local-grubdog.neocities.org/"]):not(:has(img))::after {
        content: '\2197';
        position: absolute;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-left: 0.25rem;
        font-size: 0.8rem;
}

h1, h2, h3, h4 {
    font-family: "Shantell-Sans", "Arial", sans-serif;
    max-width: 70ch; /*This max width should NEVER be hit, but better safe than sorry*/
}

h1 ~ h2, h3, h4 {
    margin-left: 4rem;
}

ul,ol {
    margin: 0 20px 0;
    padding-left: 5rem;
    max-width: 70ch;
    }
    ul ul {
    margin-bottom: 0px;
    }
    ul li {
    margin-bottom: 5px;
    }
    .tabwrap ul li {
        margin-bottom: 10px;
}

ul li::marker {
    content: '\2605   ';
    font-size: 0.9375rem;
    } 
    form ul li::marker {
        content: '';
} 

/*Wasn't sure where this best went, decided to keep it with the main ul*/
    .top-menu ul {
        margin-left: 0;
    }
    .sidebar ul {
        margin-left: -3rem;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0.3rem;
}

time { 
    font-weight: bold;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--txt);
    margin: 1em 0;
    padding: 0;
    max-width: 80%;
}

/*INTERACTIVE/FUNCTIONAL*/
.quizz label {
    background: rgba(0,0,0,0);
    color: var(--txt);
    border-style: none;
    text-align: left;
    padding: .01rem;
    margin: .01rem;
}

.quizz input[type="radio"] {
    margin: 1rem 0rem .5rem 1.5rem;
    appearance: none;
    border-radius: 50%;
    width: .9rem;
    height: .9rem;
    border: .15rem solid var(--txt);
    position: relative;
    top: .4rem;
    }
    .quizz input[type="radio"]:not(:disabled):checked {
        border: .45rem solid var(--link);
}

.quizz ul {
    margin-left: -3rem;
}

button, label{
    background-color: var(--btn);
    font-family: "Shantell-Sans", "Arial", sans-serif;
    color: var(--btn-txt);
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: #130700;
    border-radius: 5px;
    padding: 10px;
    margin: .3rem;
    display: inline-block;
}
    button a {
        color: var(--btn-txt);
        text-decoration: none;
        font-size: 1.5em;
    }
    button:hover,
    button:hover a {
        color: var(--btn-hover-txt);
        background: var(--btn-hover);
        font-weight: bold;
        cursor: pointer;
    }
    label:focus-within,
    label:hover {
        color: var(--btn-hover-txt);
        background: var(--btn-hover);
        font-weight: bold;
        cursor: pointer;
}

/*CLASSES*/
/*Has skip to links + site map links, plus mobile nav*/
.top-menu {
    display:none;
}

.center {
    text-align: center;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.big-txt {
    font-size: 1.2em;
    margin-bottom:10px;
}

.top-box {
    background-color:var(--top-box);
    border-style: hidden hidden solid hidden;
    border-color: #130700;
    color:var(--txt);
    box-shadow: 0px 7px 5px -1px var(--shadow);
}
    .top-box a {
        color:var(--link2);
        text-decoration: none;
    }
    .top-box details {
        cursor: pointer;
    }
    .top-box p {
        margin:0px;
}

.scroll-box {
    background-color: var(--scroll-box);
    color: var(--scroll-box-txt);
    border-color: #130700;
    border-style: solid;
    border-radius: 5px;
    height: 250px;
    padding: 10px;
    overflow-y: scroll;
    margin: 0.3rem;
} 
    .scroll-box a {
        color: var(--scroll-box-link)
}

.scroll-person {
    background: transparent;
    max-width: 100%;
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
}

.taped::before {
  background-image:url('/assets/img/scales_tape.png');
  background-repeat:no-repeat;
  display:block;
  content:" ";
  position:relative;
  height:50px;
  width:150px;
background-size:contain;
  top:-45px;
  left:40%;
}

/*Adds "washi tape" to the site boxes. Code by/from https://hillhouse.neocities.org/snippets#washitape with changes made so it plays nice with my layout lol*/
/*.taped::before {
    background-image:url('/assets/img/scales_tape.png');
    background-repeat:no-repeat;
    display:block;
    content:" ";
    position:absolute;
    height:50px;
    width:150px;
  background-size:contain;
    top:5%;
    left:40%;
}*/
/*Gives the tape psudo-randomness*/
    .taped:nth-of-type(even)::before {
        background-image:url('/assets/img/star_tape.png'); /*This is a good one to use for size ref, it plays nice w/ the boxes*/
        left:5px 
        }
    .taped:nth-of-type(3n)::before {
        background-image:url('/assets/img/leaf_tape.png'); 
        left:70%  
        }  
    .taped:nth-of-type(4n)::before, .taped ~ div .taped:nth-of-type(6n)::before {
        background-image:url('/assets/img/moth_tape.png');
        left:20% 
    }
    .taped:nth-of-type(5n)::before {
        background-image:url('/assets/img/carrot_tape.png');
        left:40%     
}
/*Neded to make the tape behave on the side bar*/
    header,
    nav,
    aside .taped::before  {
        position:relative;
    }
/*Corner tape left*/
    .cornertapedL.taped::before {
        background-image:url('/assets/img/moth_tape.png');
        top:-30px;
        left:-40px;
        transform:rotate(-25deg)
    }
    .cornertapedR.taped::before {
        background-image:url('/assets/img/leaf_tape.png');
        top:-25px;
        left:65%;
        transform:rotate(+15deg)
    }
    .Ttaped.taped::before { /*top tape*/
        background-image:url('/assets/img/carrot_tape.png');
        top:-30px;
        left:40%;  
    }    
/*tape for top of hoard spesifically, as the tabs "reset" the rando counter*/
    .hoardtape.taped::before {
        background-image:url('/assets/img/leaf_tape.png');
        left: 6%;
        top: -20px;
}

/*WIDGET CODE - CSS FOR OFF-SITE CODE*/
/*Status Cafe*/
#statuscafe {
    margin-bottom: 5px;
}
#statuscafe-username a {
    display: none;
}

/*MOBILE MODE*/
@media screen and (max-width: 1030px) { 
    /*Other semantics*/
    header, .sidebar nav, aside, section  {
    padding: 3vh;
}
    section p {
        text-indent: 1.5rem;
    }
    blockquote{
        transform: rotate(0turn);
        margin: 0px 50px 10px 50px;
    }
    /*General Formatting*/
    h1 {
        text-align: center;
    }
    h1 ~ h2, h3, h4 {
        margin-left: 1.5rem;
    }
    ul, ol {
        padding-left: 1.5rem;
    }
    /*Classes*/
    .top-menu {
                display:block;
            }
            #hide {
                display:none;
            }
    .sidebar nav {
            display:none;
        }
    .taped:nth-of-type(3n)::before {
        background-image:url('/assets/img/leaf_tape.png'); 
        left:50%  
    }
}