---
layout: base.html
title: Site Updates
pagination:
    data: collections.siteupdates
    size: 5
    alias: siteupdates
    reverse: true
---
<div class="box">
    <div class="center"><h1>{{ title }}</h1></div>
    {% for siteupdates in siteupdates %}
        <div class="nomargin"><h3><a href="{{ siteupdates.url }}">{{ siteupdates.data.title }}</a></h3>
        <h4>{{ siteupdates.data.dateString }}</h4></div>
        <p>{{ siteupdates.data.description }} <a href="{{ siteupdates.url }}">Read More</a></p>
    {% endfor %}
    
    <p>{% if pagination.href.previous %}<a href="{{ pagination.href.previous}}" class="btn">Newer Posts</a>{% endif %} {% if pagination.href.next %}<a href="{{ pagination.href.next }}" class="btn"><strong>Older Posts</strong></a>{% endif %}</p>
</div>